.modal {
    
    background-color: white;
}
.close-solid{
	opacity: 1 !important;
}

.modal-body {
	margin: auto;
	height:258px;
	width: 330px;
    padding: 0;
}
#remove-button{
	color: white;
}

#register-button-field{
	position: relative;
}

#email-field {
	position: relative;
    margin-left:15px;
   
}

#login-form {
    height:257px;
}

.form-control {
    border-radius:0;
    margin-left:0;
}

#signup-form {
    padding-top:15px;
    height:257px;
}

.form-group {
    margin-bottom:0;
}

#login-username-field{
	position: relative;
    margin-left:15px;
}
#login-password-field{
	position: relative;
    margin-left:15px;
}

#username-field{
	position: relative;
     margin-left:15px;
}
#createPassword-field{
	position: relative;
     margin-left:15px;
}

#verifyPassword-field {
	position: relative;
     margin-left:15px;
}
#checkbox-field{
	position: relative;
    background-color:#998f8f;
    text-align:center;
	
}

#signup-form label {
	color: white !important;
}

.glyphicon-lock{
	position: absolute;
	top: 8px;
	left: 12px;
	color: #998f8f;
}

.glyphicon-user {
	position: absolute;
	top: 8px;
	left: 12px;
	color: #998f8f;
}
.glyphicon-envelope {
	position: absolute;
	top: 8px;
	left:12px;
	color: #998f8f;
}

.modal-header {
	position: relative;
	border:0;
	height: 60px;

}
.modal-header img {
	margin-left: 19px;
}

#remove-button{
   position:absolute;
   
   top:-14px;
   right:-17px;	
}
#doodad-submit {
	position:absolute;
	top: 12px;
	left: 75px;
	font-size: 13px;
	color: white;
	background: #04b16f;
}

#login-submit {
	width:225px;
	text-align: center;
    margin-left:50px;
	margin-bottom:20px;
	background: #04b16f;
}
#frgt-pswd {
	margin-top:20px;
	color: white;
	font-size:13px;
	text-decoration: none;
	margin-left:120px;
    padding-bottom:50px;
}
.modal-content {
	width: 400px;
	height: 400px;
	background-color: #333333;
	border: 1px solid lightgray;
	border-radius: 15px;
}

.login-section {
    padding-top:40px;
    margin-bottom:0;
}

.login-shorten {
	
	width: 300px;
	height: 30px;
	padding-left:30px;
	margin-bottom:23px;

}

.shorten {
	margin-left: 4px;
	margin-bottom: 10px;
	width: 300px;
	height: 30px;
	padding-left:30px;
}

.usericon input{
    padding-left:25px;
}
.usericon:before{
    opacity:.8;
    height:100%;
    width:25px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    position: absolute;
    content:"\e008";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

/* Modal Tabs */
@font-face {
    font-family: meta;
    src: url(MetaOT-Medi.woff);
}


ul#tabs {
    width: 330px;
    border: 0;
}

.modal-tab {
    font-family: meta;
    color:#998f8f;
    font-size:23px;
    width:165px;
    height:50px;
    text-align:center;
}

.nav-tabs>li>a {
    margin-right:0;
    border-radius:0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    font-family: meta;
    color: #440e3c;
    background-color: #998f8f;
    border: 1px solid #998f8f;
    font-size:23px;
    width:165px;
    height:50x;
    
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    color: #998f8f;
    background-color:#333333;
    border:none;
}

.tab-pane {
    background-color: #998f8f;
}




